<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bieren</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bieren.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a asp-action="Index" asp-controller="Home"><img src="/img/biertempel.png" alt="foto van een bier" /></a>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <vc:footer-adder footer-tekst="- De Biertempel - Hoppestraat 103 - 3360 Bierbeek -
tel. 016123456 - email: info@@biertempel.be -"></vc:footer-adder>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
